*{
	margin: 0;
	padding: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}

.container {
	height: 1200px;
	width: 100%;
	display:flex;
	align-content: flex-start;

}

.column1 {
	width: 75%;

}

.column2 {
  width: 25%;


}


.content-area {
	background-color: white;
	height: 100%;
	margin-left: 10%;
	margin-bottom: 10%;
	margin-right: 5%;
	padding: 4%;

}

.sidebar {

	height: 100%;
	margin-bottom: 10%;
	margin-right: 10%;
	padding: 6%;
	padding-top: 12%;
}


.content-area img {
	width: 100%;
	object-fit: contain;

}


.column1 svg {
	height: 15px;
	width: 15px;
}

.social-media-icons {
	display: flex;
	align-items: flex-start;

}

.all-icons {
	background-color: #e1dfdf;
	height: 30px;
	width: 70px;
	margin: 5px;
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 5px;
	border: 1.5px solid #c8c4c4;
	border-top: 2px solid darkblue;
	}

	.all-icons p {
		font-size: 0.8em;
	}

	.sidebar-button {
		background-color: #e9563d;
		border: none;
		color: #fff;
		width: 100px;
		height: 30px;
	}

	.sidebar-button:hover {
		background-color: #ef6c56;
		}

	.sidebar input[name="search-input"] {
		width: 150px;
		height: 30px;
		font-size: .8em;
		padding-left: 5px;
	}

.sidebar h3 {
	color: #e9563d;
	margin-top: 20px;
	margin-bottom: 20px;
}

.sidebar-blocks {
	margin-top: 60px;
}
.sidebar-blocks h3 {
	margin-bottom: 30px;
}

.sidebar-search-block a {
	text-decoration: !important none;
	color: #fff !important;
	margin: 0 !important;
}

.sidebar a {
	text-decoration: none;
	color: #888888;
	display: block;
	margin-top: 10px;
}

.all-icons:hover {
	background-color: #f2f0f0;
}

.social-media-icons a {
	text-decoration: none;
}


.sidebar-button a {
	text-decoration: none;
}

.go-back {

	margin-top: 25px;
}
.go-back a {
	text-decoration: none;

}

.post-details p{
	font-weight: bold;
	font-size: .9em;
}

.content-text p {
	font-size: .9em;
}

.footer img {
	display: block;
	margin: 0 auto;
}

.copyright-footer p {
	padding-top: 15px;
	text-align: center;
	font-size: .9em;
	color: #fff;
}

.copyright-footer {
	background-color: #49515B;
	height: 50px;

}

.footer {
	    margin-top: 20%;
}

.fb_ltr ._li > div > div ._2pi8 {
	overflow-y: auto !important;
	height: 50px !important;

}
@media only screen and (max-width: 768px) {

	.container {
		display:flex;
		flex-direction: column;
		justify-content: flex-start;
		height: 1200px;
	}

	.column1 {
		width: 100%;
	}

	.column2 {
	  width: 100%;
	}

	.content-area {
		margin-left: 0%;
		margin-bottom: -30%;
		margin-right: 0%;
		padding: 5%;
	}

	.sidebar {
		height: auto;
		padding: 5%;
		padding-top: 0%;
	}


	.sidebar-search-block a {
		text-decoration: none;
		color: #fff;
		margin: 0;
	}


	.sidebar h3 {
		color: #e9563d;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.sidebar-blocks {
		margin-top: 20px;
		margin-right: 100px;
	}
	.sidebar-blocks h3 {
		margin-bottom: 0px;
	}

	.sidebar-blocks p{
		font-size: .8em;
	}
.sidebar-responsive{
	display: flex;
	align-items: flex-start;
}

.footer {
	    margin-top: 200px;
}
.footer img {
	display: block;
	margin: 0 auto;
}

.copyright-footer p {
	padding-top: 15px;
	text-align: center;
	font-size: .9em;
	color: #fff;
}

.copyright-footer {
	background-color: #49515B;
	height: 50px;

}

    }
